# Virtual Environments
.venv/
venv/
ENV/
env/

# Python cache & compiled bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Checkpoints
.ipynb_checkpoints/

# Operating System Files
Thumbs.db
Desktop.ini
.DS_Store

# Temporary & Log files
*.log
*.tmp
